<!doctype html>
<html>
<head>
	{{!-- Used https://getbootstrap.com/docs/4.0/getting-started/introduction/ as a reference --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<title>Tuan Tran CS290 Project</title>
</head>

	<table cellpadding="10">
		<tr>
			<th> <a href="http://localhost:3000/"> 		Home </a> </th>
			<th></th>
			<th> <a href="http://localhost:3000/menu"> 	Menu </a> </th>
			<th></th>
			<th> <a href="http://localhost:3000/location-hours"> Locations and Hours</a>  </th>
			<th></th>
			<th> <a href="http://localhost:3000/catering"> Catering</a> </th>
		</tr>
	</table>

<body>
	
	{{{body}}}

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


	<table cellpadding="10">
		<tr>
			<th align="justify"> <a href="https://www.yelp.com/biz/andys-bar-b-que-santa-clara-3"> 		Yelp </a> </th>
			<th></th>
			<th align="justify"> <a href="https://www.tripadvisor.com/Restaurant_Review-g33046-d852140-Reviews-Andy_s_BBQ-Santa_Clara_California.html"> 	Trip Advisor </a> </th>
			<th></th>
			<th align="justify"> <a href="https://www.doordash.com/store/andy-s-bbq-santa-clara-32587/"> DoorDash</a>  </th>
		</tr>
	</table>
</html>