<!doctype html>
<html>
<head>
	<title>Tuan Tran CS290 Project</title>
</head>

	<table>
		<tr>
			<th> <a href="http://localhost:3000/"> 		Home </a> </th>
			<th> <a href="http://localhost:3000/menu"> 	Menu </a> </th>
			<th> <a href="http://localhost:3000/location-hours"> Locations and Hours</a>  </th>
			<th> <a href="http://localhost:3000/catering"> Catering</a> </th>
		</tr>
	</table>

<body>
	
	{{{body}}}
</body>
</html>