<h1>The Home Page: Database Interactions and UI</h1>

    <form id="addExercise">

<table>
    <thead>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Unit(LBs)</th>
    </thead>

    <tr>
    <td>    <input type="text" name="name" id="name">   </td>  
    
    <td>    <input type="number" name="reps" id="reps">         </td>

    <td>    <input type="number" name="weight" id="weight">     </td>

    <td>    <input type="date" name="date" id="date">           </td>   

    <td>    <input type="number" name="unit" id="unit">         </td>

    <td>
        <button id="exerciseSubmit" type="submit">Submit</button>    
    </td>
    
    </tr>
</table>
</form>

<body>
 <table id="data">
    <thead>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Unit(LBs)</th>
    </thead>

 
 </table>

</body>

