<h1>Catering</h1>

<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method ="GET">
        <fieldset>
            <legend>Catering Order Form</legend>

            <br />
            <fieldset>
            <label>Name:
                <input type = "text" name = "name_input" size = "30" maxlength= "100">
            </label>
            </fieldset>    
            
            <br />
            
            <fieldset>
                <label>Phone Number:
                <input type = "number" name = "phone_number_input" size = "30" maxlength= "100">
                </label>
            </fieldset> 
            
            <br />

            <fieldset>
                <label>Email:
                <input type = "email" name = "email_input" size = "30" maxlength= "100">
                </label>
            </fieldset> 
            
            <br />

            <fieldset>
                <label>Date for Catering Order:
                <input type = "date" name = "date_input" size = "30" maxlength= "100">
                </label>
            </fieldset> 

            <br />

            <fieldset>
                <label>Time for Catering Order:
                <input type = "time" name = "time_input" size = "30" maxlength= "100">
                </label>
            </fieldset> 

            <br />


            <fieldset>
                <label>Select between:</label>
                <br />
                <br />
                <label>
                    <input type = "radio" name = "food" value = "Chicken" />Chicken
                </label>
                <br />
                <br />
                <label>
                    <input type = "radio" name = "food" value = "Pork" />Pork
                </label>
                <br />
                <br />
                <label>
                    <input type = "radio" name = "food" value = "Beef" />Beef
                </label>
                <br />
                <br />
                <input type = "submit" value="Submit" />
            </fieldset>
        </fieldset>
    </form>