<h1>Menu</h1>



<a href="files/Andys-BBQ-Menu2018.pdf" class="download-link-button" download> Download Menu</a>

<body>
   <div style="height:120px;width:300px;overflow:auto;">
    <h3>A LA CARTE / SIDES</h3>
    <ul>
        <li>Baby Back Ribs</li>
        <li>Spare Ribs</li>
        <li>BBQ Half Chicken</li>
        <li>Cole Slaw</li>
        <li>Baked Potato</li>
        <li>Corn Bread</li>
    </ul>
    </div>
</body>